package loadmanagerview

import baseview "github.com/uszebr/loadmonitor/inner/view/base"

templ LoadManagerPage() {
	@baseview.BasePage(baseview.BaseParam{Title: "Load Manager - Changing Job complexity and quantity of workers"}) {
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Load Manager</h4>
			</div>
			<div class="page-category">Inner page content goes here</div>
		</div>
	}
}
